@mixin disableMobileTap{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

$color-background-white: #D3DDE8;
$color-display-light: #F4F7F9;

$color-grey-dark-1: #434040;
$color-grey-dark-2: #5D5959;

$color-text-dark: #0E1E2E;
$color-red: #B3331D;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

html {
    font-size: 62.5%; //1 rem = 10px: 10px/16px = 62.5%   
}

body{    
    box-sizing: border-box; 
}